* {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    border-radius: 5px;
}
h1{
    margin: 10px;
    color: #ffffff;
    text-align: center;
    font-family: PingFangSC-Light,Arial,Helvetica,sans-serif;
    font-weight: normal;
}
.smallPic{
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    background-color: #3a3a3a;
}

button {
    margin: 10px 10px;
    color: #fff;
    outline:none;
    cursor: pointer;
    width: 144px;
    height: 81px;
}

.images {
    display: flex;
    align-items: flex-start;
    transition: all linear 0.5s;
}

.window {
    margin: 20px auto;
    width: 960px;
    overflow: hidden;
    border: 20px solid #ffffff;
    border-radius: 5px;
}

.active {
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .5);
    transform: scale(1.2);
}